/* ======= FONT FAMILY ======== */
.noto-sans {
  font-family: var(--noto-sans);
}
.montserrat {
  font-family: var(--montserrat);
}

/* ======= color ======== */

.black {
  color: var(--black);
}

.secondary {
  color: var(--black);
}

.linear-text {
  background: linear-gradient(90deg, #4162f7 0%, #c847b0 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
